:root {
  --font-one: "Open Sans", sans-serif;
  --font-two: "Raleway", sans-serif;
  --hover: #ff6c00;
  --gray: #303030;
  --p-dark: #9da4bd;
  --p-white: #555555;
}
body {
  font-family: var(--font-one);
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.link-insta {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.2em;
  color: var(--gray);
}
.header,
.about,
.servises,
.benefits,
.barbers,
.portfolio,
.online-booking-contacts,
.footer {
  padding-left: 13.5%;
  padding-right: 13.5%;
}
.logo {
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav,
.header-contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.nav:hover,
.nav:focus {
  color: var(--hover);
}
.header-contact {
  text-transform: uppercase;
}
button {
  width: 160px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--hover);
  border-radius: 25px;
}
button:hover,
button:active {
  color: #ffffff;
  background-color: var(--hover);
}
.header-button,
.online-booking-button {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}
.hero-title {
  font-family: var(--font-two);
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.1805;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.uptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--gray);
}
.dark-uptitle {
  color: rgba(157, 164, 189, 0.6);
}
.background {
  background-image: url(../image/hero.jpg);
}
.hero-p {
  font-size: 18px;
  line-height: 1.6666;
  letter-spacing: 0.02em;
  color: var(--p-dark);
}
.title {
  font-family: var(--font-two);
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1667;
  letter-spacing: 0.05em;
}
.h-white {
  color: #ffffff;
}
.h-black {
  color: #000000;
}
.about-ul {
  display: flex;
}
.img-about {
  margin-right: 30px;
}
.about {
  display: flex;
}
.about-right {
  padding-right: 100px;
}
.about-p {
  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 0.02em;
  color: var(--p-white);
}
.about-button {
  color: var(--gray);
  background-color: rgba(255, 255, 255, 0);
}
.div-servises {
  margin-bottom: 40px;
  display: flex;
  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 0.02em;
  color: var(--p-dark);
}
.servises-left,
.servises-right {
  width: 570px;
}
.servises-left {
  margin-right: 30px;
}
.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.servises {
  background-image: url(../image/servises.jpg);
}
.services-button {
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 120px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}
.benefits {
  display: flex;
}
.benefits-li {
  width: 170px;
  height: 133px;
  text-align: center;
}
.numbers-benefits {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571;
  letter-spacing: 0.05em;
  color: var(--gray);
}
.plus-benefits {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;

  color: var(--hover);
}
.benefits-div > p {
  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 0.02em;
  color: var(--p-white);
}
.barbers-ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.barbers-li-h {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3889;
  letter-spacing: 0.02em;
  color: var(--gray);
}
.profession {
  font-size: 14px;
  line-height: 1.3571;
  letter-spacing: 0.02em;
  color: var(--hover);
}
.msg-ul {
  display: flex;
  justify-content: space-around;
}
.online-booking-contacts {
  background-color: #191c26;
}
.barbers-li-h,
.profession,
.msg-ul {
  padding-left: 82px;
  padding-right: 82px;
}
.portfolio-ul {
  display: flex;
  justify-content: space-around;
}
.online-booking-contacts {
  display: flex;
}
.online-booking-button {
  background-color: rgba(0, 0, 0, 0);
}
.contacts {
  background-image: url(../image/salon.png);
}
.link-contacts,
.contacts-p {
  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 0.02em;
  color: var(--p-dark);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.footer > p {
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.2em;
  color: var(--p-dark);
}
