.servises {
  background-image: url(../image/servises.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.div-servises {
  display: flex;
  gap: 30px;
  margin-top: 44px;
  margin-bottom: 44px;
}
.servises-left,
.servises-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 570px;
  padding: 30px 20px;
}
.servises-left {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}
.servises-right {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  &::before {
    content: "";
    flex-grow: 1;
    width: 100px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
  }
  p {
    order: -1;
  }
}
