.title {
  margin-top: 20px;
  font-family: var(--font-two);
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1667;
  letter-spacing: 0.05em;
}
.title-white {
  color: #ffffff;
}
.title-black {
  color: #000000;
}
