:root {
  --font-one: "Open Sans", sans-serif;
  --font-two: "Raleway", sans-serif;
  --hover: #ff6c00;
  --gray: #303030;
  --p-dark: #9da4bd;
  --p-white: #555555;
  --time: 250ms;
}
img {
  width: 100%;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
